.container {
  width: 80%;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  border: 10px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.header nav ul li {
  margin: 0 10px;
}

.main-content {
  min-height: 400px;
  margin-bottom: 20px;
}

.footer {
  border-top: 1px solid black;
  padding-top: 10px;
  text-align: center;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin: 5px 0;
}